<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LINEARICONS -->
    <link rel="stylesheet" href="../public/fonts/linearicons/style.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>

    <a href="{{ path('home') }}"> Liste des différents éducateurs </a>

    <div class="wrapper">
        <div class="inner">
            <img src="../public/images/image-1.png" alt="" class="image-1">
            <form action="{{ path('educateur_controller') }}" method="post">
                <h3>Ajout d'un éducateur?</h3>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" id="email" name="email" required placeholder="Email d'un éducateur">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" id="password" name="password" required placeholder="Mot de passe">
                </div>

                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" id="numLicencie" name="numLicencie" required placeholder="Identité du licencié ">

                    <select id="numLicencie" name="numLicencie" required>
                        {% for lic in licencies %}
                        <option value="{{ lic.getNum() }}">{{ lic.getNom() }}</option>
                        {% endfor %}
                    </select><br>
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-envelope"></span>
                    <input type="text" class="form-control" id="admin" name="admin" required placeholder="Rôle">
                </div>

                <input type="submit" name="action" value="Ajouter">

            </form>
            <img src="../public/images/image-2.png" alt="" class="image-2">
        </div>

    </div>

    <script src="../public/js/jquery-3.3.1.min.js"></script>
    <script src="../public/js/main.js"></script>
</body>

</html>
