{# templates/categories/liste.html.twig #}

<link rel="stylesheet" href="{{ asset('../public/fonts/linearicons/style.css') }}">
<h2>Liste des Catégories</h2>
{# a href="{{ path('liste-categories') }}">Créer</a> # }
<ul>
    {# La boucle twig pour afficher les catégories #}
        <li>categories</li>
</ul>
