{# templates/mail_edu/confirmation_mail_envoye.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mail envoyé{% endblock %}

{% block body %}
    <h1>Mail envoyé avec succès!</h1>
    <p>Votre mail a été envoyé aux éducateurs.</p>
{% endblock %}
