{# templates/mail_edu/ecrire_mail_edu.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Écrire un mail aux éducateurs{% endblock %}

{% block body %}
    <h1>Écrire un mail aux éducateurs</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
